@import url('additional-styles.css');
/* Custom properties/variables  */
:root {
    --main-white: #ffffff;
    --main-gray: #303841;
    --main-lightgreen:linear-gradient(to bottom, #a9d17d, #3b6a2e);
    --main-seablue:linear-gradient(to right, #283048, #859398);
    --main-green: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    
  }
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /* A few media query to set some font sizes at different screen sizes.
   * This helps automate a bit of responsiveness.
   * The trick is to use the rem unit for size values, margin and padding.
   * Because rem is relative to the document font size
   * when we scale up or down the font size on the document
   * it will affect all properties using rem units for the values.
  */
  
  /* I am using the em unit for breakpoints
   * The calculation is the following
   * screen size divided by browser base font size
   * As an example: a breakpoint at 980px
   * 980px / 16px = 61.25em
  */
  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }

  }
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
    .top-bar-box{
      font-size: 2rem;}
  }

  @media (max-width: 18.75em) {
    html {
      font-size: 25%;
    }
    .top-bar-box{
      font-size: 1.5rem;}
  }
  
  
  /* Base styles */
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  

  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color:var(--main-white);
  }
  
  .top-bar{
    font-size: 2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 100%;
    height: 5vh;
    background-color: #181719;
    z-index:1;
    }
    .top-bar-box{
      position: relative;
      width:auto
    }
     .top-bar img{
      width: 5vh;
      height: 5vh;
      position:relative;
      animation: up-down 1s infinite;
      
    }
    a:hover{
      color:green;
      transition: all 0.5s ease 0s;
    }
    .call-icon:hover {
      color:green;
      transition: all 0.5s ease 0s;
    }

    /*logo */
    /*logo ends*/
  
  /* nav */
  .nav-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: table;
    position: relative;
  }
  
  h1 {
    margin:150px auto;
    display: table;
    font-size: 26px;
    padding: 40px 0px;
    text-align: center;
  }
  
  h1 span { font-weight: 500; }
  
  header {
    width: 100%;
    display: table;
    background-color: var(--main-white);
  }
  
  #logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color:green;
    font-weight: 600;
    padding: 20px 0px;
  }
  
  nav {
    width: auto;
    float: right;
  }
  
  nav ul {
    display: table;
    float: right;
  }
  
  nav ul li { float: left; }
  
  nav ul li:last-child { padding-right: 0px; }
  
  nav ul li a {
    color:green;
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
  }
  
  nav ul li a:hover {
    background-color: green;
    color: #fde428;
    transition: all 0.5s ease 0s;
  }
  
  nav ul li a:hover i {
    color: #fde428;
    transition: all 0.5s ease 0s;
  }
  
  nav ul li a i {
    padding-right: 10px;
    color: green;
    transition: all 0.5s ease 0s;
  }
  
  .toggle-menu ul {
    display: table;
    width: 25px;
  }
  
  .toggle-menu ul li {
    width: 100%;
    height: 3px;
    background-color:rgba(28, 122, 28, 0.548);
    margin-bottom: 4px;
  }
  
  .toggle-menu ul li:last-child { margin-bottom: 0px; }
  
  input[type=checkbox], label { display: none; }

  /*cabs section */
  .cabs-section {
    text-align: center;
    padding:5rem 2rem;
    background: var(--main-lightgreen);
  }
  
  .cabs-section-header {
    max-width: 940px;
    margin: 0 auto 3rem auto;
    border-bottom: 0.5rem solid green;
  
  }
/*cabs-services section ends */
   
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem;
    background: var(--main-gray);
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  .contact-section-header > p {
    font-style:italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-lightgreen);
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
 /*footer section ends */

/*tour section  */
.tour-section {
  background: linear-gradient(to bottom, #a9d17d, #3b6a2e);
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 80vw;
}
.tour-section h3 {
  text-align: left;
}
.tour-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}
.tour-list li {
  margin: 5px 0;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/*tour section ends */

/*--------------------------------------------
media query for 1220px, 980, 580, 460, 320, 28
---------------------------------------------*/
@media (max-width: 1310px) {
  html {
    font-size: 58%;
  }
  .nav-section { max-width: 95%; }
  header { padding: 20px 0px; 
  background-color: #fde428;
  }

#logo { padding: 0px;left:0px; }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  background: none;
}
input[type=checkbox]:fous {
  background:none;
}

label {
  float:right;
  padding: 8px 0px;
  display: inline-block;
  cursor: pointer;
}

input[type=checkbox]:checked ~ nav { display: block; }

nav {
  display: none;
  position: absolute;
  right: 0px;
  top: 53px;
  background-color:rgba(28, 122, 28, 0.548);
  padding: 0px;
  z-index: 99;
}

nav ul { width: auto; }

nav ul li {
  float: none;
  padding: 0px;
  width: 100%;
  display: table;
}

nav ul li a {
  color: #FFF;
  font-size: 3rem;
  padding: 10px 20px;
  display: block;
  border-bottom: 1px solid rgba(225,225,225,0.1);
}

nav ul li a i {
  color: #fde428;
  padding-right: 13px;
}
}


@media only screen and (max-width: 580px) {
  
  h2 { font-size: 3.5rem;
    padding: 25px 0px; }
  }

@media only screen and (max-width: 480px) {
  h2 { font-size: 2.5rem;
    padding: 25px 0px; }
  }
  .nav-section { max-width: 90%; }
  }


@media only screen and (max-width: 360px) {
  
  h2 {font-size: 1.9rem;
    padding: 20px 0px; }
  
  label { padding: 5px 0px; }
  
  #logo { font-size: 20px; }
  
  nav { top: 47px; }
  }

@media only screen and (max-width: 320px) {
  
  h2 { font-size: 1.5rem;
    padding: 20px 0px; }
  }


@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
